.piano-visualizer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: clip;
    position: relative;

    .piano-key {
        position: absolute;
        top: 0;
        transition: background-color 0.3s ease, color 0.3s ease;

        .piano-key-label {
            position: absolute;
            bottom: 8px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 12px;
            color: inherit;
            /* Inherit color from the key */
        }
    }

    .white {
        background: white;
        z-index: 1;
        border: 1px solid #ccc;
        border-radius: 0 0 4px 4px;
    }

    .black {
        background: black;
        z-index: 2;
        color: white;
        border-radius: 0 0 4px 4px;
        transform: translateX(25%);
    }

    .black.played {
        background: #4a5a7a;
        border: 1px solid rgb(70, 130, 180);
    }

    .white.played {
        background: #c8d6f0;
        border: 1px solid rgb(70, 130, 180);

    }
}